<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteTextBox" version="1.1.0" targetFramework="net46" />
  <package id="EPPlus" version="5.1.0" targetFramework="net46" />
  <package id="Google.Apis" version="1.45.0" targetFramework="net46" />
  <package id="Google.Apis.Auth" version="1.45.0" targetFramework="net46" />
  <package id="Google.Apis.Core" version="1.45.0" targetFramework="net46" />
  <package id="Google.Apis.Drive.v3" version="1.45.0.1895" targetFramework="net46" />
  <package id="Google.Apis.Sheets.v4" version="1.45.0.1911" targetFramework="net46" />
  <package id="Gu.Wpf.Adorners" version="2.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="WPFTextBoxAutoComplete" version="1.0.5" targetFramework="net46" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls.WebView" version="6.0.1" targetFramework="net462" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net462" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net462" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net462" />
</packages>